$light-grey: #f3f3f4;

.container {
  margin: 0 auto;
  max-width: 960px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $light-grey;
  padding: 0 30px;
  background-color: #fff;
  height: 60px;
}

.inbox-container {
  display: flex;
  min-height: 75vh;
  border: 1px solid $light-grey;
}

.inbox-thread-container {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  flex-grow: 1;
}

.inbox-conversation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 70%;
  // border: 1px solid coral;
}

.inbox-message-list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;

}

.inbox-message-input-container {
  // border: 1px solid grey;
  display: flex;
  padding: 10px;
}


// User Profile

.profile-container {
  width: 100%;
}

.side-menu {
  width: 300px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-right: 2px solid $light-grey;
  flex-grow: 1;
  height: 100vh;
}

.side-menu-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

.profile-main-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 300px;
  max-width: 100%;
  overflow: hidden;
}

.profile-title-section {
  width: 100%;
  margin-bottom: 20px;
}

.profile-body-container {
  display: flex;
  flex-direction: column;
}

.side-draw-container {
  position: absolute;
  width: 500px;
  right: 0px;
  height: 100%;
  padding: 30px;
  background-color: #fff;
  border-left: 2px solid $light-grey;
}