@import 'global';

.page-title {
  font-size: 32px;
  margin: 10px;
}

.btn {
  padding: 14px 22px;
  font-size: 16px;
  margin-right: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  // font-family: 
}
.btn-primary {
  background-color: #3273dc;
  color: #fff;
}

// Navbar

.navbar-container ul {
  list-style: none;
  display: flex;
}

.navbar-container li {
  margin-left: 20px;
}

.navbar-container-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    color: black;
    margin-right: 40px;
  }
}

// Card

.card {
  diplay: flex;
  flex-direction: column;
  flex-basis: 33%;
  border: 1px solid #ececec;
  margin: 5px;
}

.card-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-image-container img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  overflow: hidden;
}

.card-description-container {
  padding: 15px;
}

// Thread Card

.thread-card {
  border: 2px solid #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.thread-card-avatar {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.thread-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.thread-card-content h4, 
.thread-card-content p {
  line-height: 150%;
  margin: 2px 0;
  font-size: 14px;
}

.selected-thread {
  border-left: 2px solid rgb(50, 115, 220);
}


// Messages

.message-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
}


.message-card-info {
  font-size: 12px;
}

.message-card-content {
  background-color: $light-grey;
  padding: 5px 10px;
  border-radius: 5px;
  align-self: flex-start;
  
}


// Message input

.message-form {
  
}

.message-text-input {

}


// Avatar

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.message-card-avatar .avatar {
  height: 40px;
  width: 40px;
}


// Profile

.side-menu-avatar {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.side-menu-avatar img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
}

// Table

.item-table > thead > tr {
  border-bottom: 1px solid $light-grey;
}

.item-table > thead > tr > th,
.item-table > tbody > tr > td {
  padding: 20px;
  font-size: 14px;
  vertical-align: middle;
}

.table-row-item {
  display: flex;
  align-items: center;
}

.table-image-container {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.table-image-container img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 100%;
}

// Form

label {
  display: block;
  margin: 10px 0;
}


.search-bar-container {
  font-size: 20px;
  padding: 16px 16px;
  background-color: $light-grey;
  height: 40px;
  width: 400px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  input {
    font-family: 'Rubik';
    font-size: 16px;
    border: none;
    background-color: $light-grey;
  }
  input:focus,
  input:active, {
    outline: none;
  }
  .postcode-search input {
    max-width: 120px;
    margin-right: 5px;
  }
  .search-input {
    margin-left: 10px;
    flex-grow: 1;
  }
  .search-icon {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  #hero {
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    justify: center;
    align-items: center;
  }
  .tag-line-container {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo-font {
      font-family: $logo-font;
    }
    .tag-line-content {
      display: flex;
      width: 70%;
      h1 {
        font-size: 40px;
      }
    }
    
  }
  .hero-image-container {
    width: 50vw;
    img {
    }
  }
  
}


.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
}

.item-container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  .item-inner-container {
    display: flex;
    width: 70%;
    
    .item-image-container {
      flex-basis: 1;
      // width: 100%;
      margin-left: 50px;
    }
    .item-details {
      flex-basis: 1;
      width: 50%;
      h1 {
        font-size: 40px;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
        margin-bottom: 24px;
        line-height: 200%;
      }
    }
  }
}

