$light-grey: #f3f3f4;


.page-title {
  font-size: 32px;
  margin: 10px 0;
}

// Navbar

.navbar-container ul {
  list-style: none;
  display: flex;
}

.navbar-container li {
  margin-left: 20px;
}

// Card

.card {
  diplay: flex;
  flex-direction: column;
  flex-basis: 33%;
  border: 1px solid #ececec;
  margin: 5px;
}

.card-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-image-container img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  overflow: hidden;
}

.card-description-container {
  padding: 15px;
}

// Thread Card

.thread-card {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.thread-card-avatar {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.thread-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.thread-card-content h4, 
.thread-card-content p {
  line-height: 150%;
  margin: 2px 0;
  font-size: 14px;
}

.selected-thread {
  color: coral;
}


// Messages

.message-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
}


.message-card-info {
  font-size: 12px;
}

.message-card-content {
  background-color: $light-grey;
  padding: 5px 10px;
  border-radius: 5px;
  align-self: flex-start;
  
}


// Message input

.message-form {
  
}

.message-text-input {

}


// Avatar

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.message-card-avatar .avatar {
  height: 40px;
  width: 40px;
}