.footer{
  // position: fixed;
<<<<<<< HEAD
  // bottom: 0;
  // left: 0;
  // right: 0;
=======
  bottom: 0;
  left: 0;
  right: 0;
>>>>>>> fd6f17639b031d8b1dd41e32485c21e4ec1b0de5
  background-color: black;
  color: white;
}