.search-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 10%;
  left: 41%;
  input{
    padding-left: 10px;
    min-width: 400px;
    max-width:400px ;
    outline-style: none;
  }
}

.toggle-container{
  display: flex;
  flex-direction:column;
  // align-items:flex-start;
  position:fixed;
  right: 4%;
  top:20%;
  z-index: 10;
  margin-right: 0px;
}
.toggle{
  line-height: 0%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 16px;
  color: #333333;
  border: none;
  cursor: pointer;
  border-radius: 5px;

.btn-primary {
  background-color: #3273dc;
  color: #fff;
}
}
.toggle:focus,
.toggle:active {
  outline: 0;
}

.toggle-selected {
  color: #fff;
  background-color: #787878;
}


@media only screen and (max-width: 600px) {
  .search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 35%;
    input{
      min-width: 150px;
      outline-style: none;
    }
  }
}